.container {
  .drawerButton {
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
  }
}

.icon {
    color: #000;
    font-size: 1.5rem;
}
