#selectLanguageButton {
  height: 40px;
  width: 150px;
  border-radius: 0;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 7px;
}

.countryImage {
  height: 20px;
  margin-bottom: 3px;
}

p {
  font-family: 'Poppins';
  font-weight: 400;
}
