.container {
  .drawerButton {
    height: 40px;
    background-color: transparent;
  }

  .drawerContent {
    div {
      flex-direction: column;
      gap: 2rem;
  
      ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;
      }
    }
  }
}

.icon {
    color: #fff;
    font-size: 1.5rem;
}
