$cor-1: #2e3047;
$cor-2: #35374c;

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  background:
    linear-gradient(160deg, $cor-2 40%, $cor-1 50%),
      $cor-1 45%;

  .landing {
    width: 100%;
    height: calc(100vh - 100px);
    padding-inline: 125px;
    padding-top: 10rem;

    .sun {
      width: 275px;
      height: 275px;
      background-color: #D5B140;  
    }

    @media (max-width: 1200px) {
      flex-direction: column;
      padding-inline: 50px;
      justify-content: left;
      padding-top: 2rem;

      .sun {
        display: none;
      }
    }
  }
}
