$cor-1: #2e3047;
$cor-2: #35374c;

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  background:
    linear-gradient(160deg, $cor-2 40%, $cor-1 50%),
      $cor-1 45%;

  .landing {
    width: 100%;
    min-height: 100vh;
    padding-inline: 125px;
    padding-top: 10rem;
    position: relative;

    .sun {
      width: 300px;
      height: 300px;
      background-color: transparent;
      border: 1px solid #fff;  
    }

    @media (max-width: 1200px) {
      flex-direction: column;
      padding-inline: 50px;
      justify-content: left;
      padding-top: 2rem;

      .sun {
        display: none;
      }
    }
  }

  .about {
    background-color: #2D2F46;
    width: 100%;
    min-height: 100vh;
    position: relative;
  }
}
