.container {
  min-height: 350px;
  width: 100%;
  padding-inline: 11rem;
  margin-top: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  overflow: visible;

  .mainContent {
    display: flex;
    align-items: center;
    width: 100%;
    overflow: visible;
    gap: 3.5rem;

    .professionalContainer {
      display: flex;
      gap: 3.5rem;
      overflow: visible;

      .textSection {
        width: auto;
      }

      @media (max-width: 569px) {
        flex-direction: column;
      }
    }

    .socialMediaSection {
      width: 10%;
      display: flex;
      align-items: center;
    }

    @media (max-width: 960px) {
      flex-direction: column;

      .socialMediaSection {
        width: 50%;
        align-items: center;
        justify-content: center;
        flex-direction: row;
      }
    }

    @media (max-width: 800px) {
      .professionalContainer {
        .profileSection {
          img {
            width: calc(260px / 1.7) !important;
            height: calc(260px / 1.7) !important;
            margin: 0;
          }

          div {
            top: -72px !important;
            left: -20px;
          }

          button {
            top: 95px;
            right: -5px;
            height: 30px;
            width: 30px;

            svg {
              font-size: 15px;
            }
          }

          @media (max-width: 569px) {
            display: flex;
            justify-content: center;
            align-items: center;

            div {
              left: 30px;
            }

            button {
              top: 95px;
              right: 50px;
              height: 30px;
              width: 30px;
            }
          }
        }
      }
    }
  }

  @media (max-width: 1130px) {
    padding-inline: 4rem;
  }

  @media (min-width: 1748px) {
    width: 80%;
  }

  @media (max-width: 1300px) {
    flex-direction: column;
    gap: 3rem;

    .contactSwitcher {
      width: 60%;
      height: 230px;
    }
  }
}
