.languageButton {
  height: 40px;
  width: fit-content;
  border-radius: 0;
  border: 0px;
  display: flex;
  align-items: center;
  justify-content: right;
  text-align: right;
  background-color: transparent;
  gap: 7px;
  position: sticky;

  .countryImage {
    height: 20px;
  }

  p {
    font-family: 'Poppins';
    font-weight: 400;
    color: #fff;
  }
}
