#profileSection {
  width: 260px;
}

#profilePicture {
  border-radius: 50%;
  height: 100%;
  width: 100%;
}

#imageContainer {
  position: absolute;
  left: 170px;
  top: 120px;
  rotate: -16deg;
  height: 260px;
}

#strawHatPicture {
  height: 220px;
}

#iconContainer {
  height: 50px;
  width: 50px;
  position: absolute;
  background-color: #fff;
  padding: 8px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 410px;
  left: 375px;
  border: 0px;
  box-shadow: 0 0 4px 1px #cfcfcf;
}

#reloadIcon {
  font-size: 25px;
}
