#profileSection {
  width: 260px;
  position: relative;
}

#profilePicture {
  border-radius: 50%;
  height: 100%;
  width: 100%;
}

#imageContainer {
  position: absolute;
  left: -13px;
  top: -100px;
  rotate: -16deg;
  z-index: 100;
  height: 260px;
}

#strawHatPicture {
  height: 220px;
}

#iconContainer {
  height: 50px;
  width: 50px;
  position: absolute;
  background-color: #fff;
  padding: 8px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 20px;
  right: 10px;
  border: 0px;
}

#reloadIcon {
  font-size: 25px;
}
