.header {
  height: 80px;
  width: 100%;
  padding-inline: 8rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.items {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}

h4 {
  font-weight: 600;
  font-size: larger;
}

ul {
  text-decoration: none;
  list-style: none;
  display: flex;
  gap: 32px;
}

ul li {
  cursor: pointer;
}
