.container {
  height: 80px;
  max-width: calc(100vw - 7rem);
  padding-inline: 3.5rem;
  display: flex;
  align-items: center;
}

h4 {
  font-family: 'Poppins';
  font-weight: 600;
  font-size: larger;
}

ul {
  text-decoration: none;
  list-style: none;
  display: flex;
  gap: 16px;
}
