.header {
  height: 80px;
  width: 100%;
  padding-inline: 8rem;
  display: flex;
  align-items: center;
  justify-content: space-between;

  h4 {
    font-weight: 600;
    font-size: larger;
  }

  @media (min-width: 1748px) {
    padding-inline: 24%;
  }
  @media (max-width: 848px) {
    padding-inline: 50px;
  }
}
