.header {
  height: 100px;
  width: 100%;
  padding-inline: 125px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;

  h4 {
    font-weight: 600;
    font-size: larger;
    color: #fff;
  }


  @media (max-width: 848px) {
    padding-inline: 50px;
  }
}
