.container {
  width: 35%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .title {
    font-size: 2.5rem;
    font-weight: 600;
  }

  .name {
    font-weight: 300;
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  .phraseSection {
    display: flex;
    gap: 1rem;
    align-items: center;

    div {
      height: 80px;
      width: 4px;
      background-color: #beb7b7;
    }

    i {
      color: #beb7b7;
      font-weight: 500;
    }
  }
}
