.items {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;

  ul {
    text-decoration: none;
    list-style: none;
    display: flex;
    gap: 32px;

    ul li {
      cursor: pointer;
    }
  }
}
